<%= form_for(@cover_letter) do |f| %>
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <% if @cover_letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cover_letter.errors.count, "error") %> prohibited this cover_letter from being saved:</h2>

      <ul>
      <% @cover_letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="date">
      <span><%= DateTime.now.strftime('%Y 년 %m 월 %d')%></span>
    </div>
    <%= f.fields_for :companies do |builder| %>
        <%= render 'company_fields', f: builder %>
    <% end %>

  <div class="field">
    <%= f.cktext_area :text, class: "form-control", id: "cover_letter_text" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-warning"  %>
  </div>
<% end %>
