<section class="background">
  <div class="cover_letter_container container" id="selectArea">
    <div class="row cover_letter center-block">

      <div class="header">
        <div class="name">
          <span><%= @user.first_name + " " + @user.last_name %></span>
        </div>
        <div class="address">
          <span><%= @user.address %></span>
        </div>
        <div class="contact">
          <span><%= @user.mobile_number %></span>
          <span><%= @user.email%></span>
        </div>
        <div class="line center-block"></div>
      </div>
      <div class="content">
        <div class="date">
          <span><%= DateTime.now.strftime('%Y년 %m월 %d일')%></span>
        </div>
        <div class="company">
            <% @cover_letter.companies.each do |company| %>
               <span> <%= company.name %> </span><br/>
                <span><%= company.hiring_agent_name %> </span><br/>
                <span><%= company.department %></span><br/>
                <span><%= company.post_code %></span>
                <span><%= company.address1 %></span><br/>
                <span><%= company.address2 %></span>
            <% end %>
        </div>
        <div class="text">
            <%= @cover_letter.text.html_safe %>
        </div>
      </div>

    </div>
  </div>
  <div class="buttons">
    <%= link_to 'Edit', edit_cover_letter_path(@cover_letter), class: "btn btn-warning" %>
    <%= link_to 'Back', cover_letters_path, class: "btn btn-info"%>
    <input type="button" value="인쇄" onClick="print()" class="btn"/>
  </div>
</section>

