<section class="container-fluid">
  <%= form_for(@resume) do |f| %>
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
              <% @resume.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="container resume_container">
        <div class="row ">
          <div id="left" class="col-xs-4 left text_color">
            <div class="profile ">

              <div class="row pic_container">
                <div class="pic">
                  <%= image_tag @user.image.thumb.url, class: "img-circle" %>
                </div>
              </div>

              <div class="row name_container">
                <div class="name ">
                <span class="text_color text">
                     <%= @user.first_name %>
                  <%= @user.last_name %>
                </span>
                </div>
              </div>

              <div class="row address text">
                <span class="text">
                  <%= @user.address %>
                </span>
              </div>

              <div class="row email text">
                <span class="text">
                  <%= @user.email %>
                </span>
              </div>

              <div class="row phone text">
                <span class="text">
                  <%= @user.mobile_number %>
                </span>
              </div>

              <div class="row homepage text">
                <span class="text">
                    In
                </span>
                <span class="text">
                  <%= @user.homepage %>
                </span>
              </div>
            </div>

            <div class="row skill ">
              <div class="col-xs-4 title text">
                <span>Skills</span>
              </div>
              <div class="col-xs-8 line">
                <div></div>
              </div>


              <div class=" skill_text text ">
                <% @skills.each do |s| %>
                    <div class="skill_item">
                    <div><%= s['name'] %></div>
                   <div> <% (1..10).each do |l| %>
                        <% if l < s['level'].to_i %>
                             <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <% else %>
                             <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <%end%>
                    <%end%></div>
                    </div>
                <% end %>
              </div>
            </div>


          </div>


          <!-- summary -->
          <div id="right" class="col-xs-8 right center-block">
            <div class="row summary center-block">
              <div class="col-xs-4 line">
                <div class="center-block"></div>
              </div>
              <div class="col-xs-4 title">
                <span>Summary</span>
              </div>
              <div class="col-xs-4 line">
                <div></div>
              </div>
            </div>

            <!-- work history-->
            <div class="row work_history">
              <div class="col-xs-4 title">
                <span>Work History</span>
              </div>
              <div class="col-xs-8 line">
                <div></div>
              </div>
              <div class="work_history_text">
                <% @work_histories.each do |w| %>
                   <span> <%= w['name'] %></span>
                   <span> <%= w['text'] %></span>
                    <span> <%= w['started_at'] %></span>
                    <span> <%= w['ended_at'] %></span>
                <% end %>
              </div>
            </div>


            <!-- education -->
            <div class="row education">
              <div class="col-xs-2 title">
                <span>Education</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
              <div class="work_history_text">
                <% @educations.each do |w| %>
                    <span> <%= w['name'] %></span>
                    <span> <%= w['text'] %></span>
                    <span> <%= w['started_at'] %></span>
                    <span> <%= w['ended_at'] %></span>
                <% end %>
              </div>

            </div>


            <!-- project-->
            <div class="row project">
              <div class="col-xs-2 title">
                <span>Project</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
              <div class="work_history_text">
                <% @projects.each do |w| %>
                    <span> <%= w['name'] %></span>
                    <span> <%= w['text'] %></span>
                    <span> <%= w['home_page'] %></span>
                <% end %>
              </div>
            </div>


          </div>



        </div>

        <div class="actions" style="margin-top:10px;">
          <%= f.submit value: "제출하기", class: "btn btn-warning center-block" %>
        </div>

        <div class="actions">
          <%= link_to '뒤로가기', resumes_path, class: "btn btn-info center-block" %>
        </div>
      </div>

  <% end %>
</section>
