<div class="profile ">

  <div class="row pic_container">
    <div class="pic">
      <%= image_tag @user.image.thumb.url, class: "img-circle" %>
    </div>
  </div>

  <div class="row name_container">
    <div class="name ">
                <span class="text_color">
                     <%= @user.first_name %>
                  <%= @user.last_name %>
                </span>
    </div>
  </div>

  <div class="row address text">
            <span class="text_color ">
              <%= @user.address %>
            </span>
  </div>

  <div class="row email text">
            <span class="text_color">
              <%= @user.email %>
            </span>
  </div>

  <div class="row phone text">
            <span class="text_color">
              <%= @user.mobile_number %>
            </span>
  </div>

  <div class="row homepage text">
            <span class="text_color">
                In
            </span>
            <span class="text_color">
              <%= @user.homepage %>
            </span>
  </div>
</div>

<div class="row skill ">
  <div class="col-xs-4 title text">
    <span>Skills</span>
  </div>
  <div class="col-xs-8 line">
    <div></div>
  </div>
</div>
