<section class="container-fluid" style="padding-bottom:20px;padding-top:0px;">


      <div class="container resume_container a4" id="selectArea">
        <div class="row ">
          <div id="left" class="col-xs-4 left text_color">
            <div class="profile ">

              <div class="row pic_container">
                <div class="pic">
                  <%= image_tag @user.image.thumb.url, class: "img-circle" %>
                </div>
              </div>

              <div class="row name_container">
                <div class="name ">
                <span class="text_color text_color">
                     <%= @user.first_name %>
                  <%= @user.last_name %>
                </span>
                </div>
              </div>

              <div class="row address text">
                <span class="text_color">
                  <%= @user.address %>
                </span>
              </div>

              <div class="row email text">
                <span class="text_color">
                  <%= @user.email %>
                </span>
              </div>

              <div class="row phone text">
                <span class="text_color">
                  <%= @user.mobile_number %>
                </span>
              </div>

              <div class="row homepage text">
                <span class="text_color">
                    In
                </span>
                <span class="text_color">
                  <%= @user.homepage %>
                </span>
              </div>
            </div>

            <div class="row skill ">
              <div class="col-xs-4 title text_color">
                <span class="text_color">Skills</span>
              </div>
              <div class="col-xs-8 line">
                <div></div>
              </div>


              <div class=" skill_text text ">
                <% @skills.each do |s| %>
                    <div class="skill_item ">
                    <div ><span class="text_color"><%= s['name'] %></span></div>
                   <div style="margin-top:5px"> <% (1..10).each do |l| %>
                        <% if l <= s['level'].to_i %>
                             <%= image_tag "heart.svg",width: "18",height: "25" %>
                             <!--<span class="glyphicon glyphicon-heart text_color" aria-hidden="true"></span>-->
                            <% else %>
                             <%= image_tag "heart_off.svg",width: "18",height: "25" %>
                             <!--<span class="glyphicon glyphicon-heart gly-off" aria-hidden="true" style="color:gray;"></span>-->
                            <%end%>
                    <%end%></div>
                    </div>
                <% end %>
              </div>
            </div>


          </div>


          <!-- summary -->
          <div id="right" class="col-xs-8 right center-block">
            <div class="row summary center-block">
              <div class="col-xs-4 line">
                <div class="center-block"></div>
              </div>
              <div class="col-xs-4 title">
                <span>Summary</span>
              </div>
              <div class="col-xs-4 line">
                <div></div>
              </div>
              <div class="row summary_text resume_text">
                <div class="col-xs-12">
                  <span><%= @resume.summary %></span>
                </div>
              </div>
            </div>

            <!-- work history-->
            <div class="row work_history">
              <div class="col-xs-4 title">
                <span>Work History</span>
              </div>
              <div class="col-xs-8 line">
                <div></div>
              </div>
              <div class="work_history_text resume_text">

                    <% @work_histories.each do |w| %>
                    <div class="row">
                      <div class="col-xs-3 date">
                        <span> <%= w['started_at'].to_date if !w['started_at'].nil?%></span> <span>-</span> <br>
                        <span> <%= w['ended_at'].to_date if !w['ended_at'].nil?%></span>
                      </div>
                      <div class="col-xs-9 text">
                        <span class="company"> <%= w['name'] %></span><br>
                        <span class="job" style="white-space: pre-line"> <%= w['text'] %></span>
                      </div>
                    </div>
                    <% end %>

              </div>
            </div>


            <!-- education -->
            <div class="row education">
              <div class="col-xs-2 title">
                <span>Education</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
              <div class="work_history_text resume_text">
                <% @educations.each do |w| %>
                <div class="row">
                  <div class="col-xs-3 date">
                    <span> <%= w['started_at'].to_date if !w['started_at'].nil?%></span> <span>-</span> <br>
                    <span> <%= w['ended_at'].to_date if !w['ended'].nil?%></span>
                  </div>
                  <div class="col-xs-9 text">
                    <span class="company"> <%= w['name'] %></span><br>
                    <span class="job"> <%= w['text'] %></span>
                  </div>
                </div>
                <% end %>
              </div>

            </div>


            <!-- project-->
            <div class="row project">
              <div class="col-xs-2 title">
                <span>Project</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
              <div class="work_history_text resume_text">
                <% @projects.each do |w| %>
                    <div class="row">
                      <div class="col-xs-12 text">
                        <span class="company"> <%= w['name'] %></span>
                        <span class="job"> <%= w['home_page'] %></span>
                        <br>
                        <span class="job" style="white-space: pre-line"> <%= w['text'] %></span><br>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

</section>
