<section class="container-fluid resume">
  <%= form_for(@resume) do |f| %>
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

            <ul>
              <% @resume.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="container resume_container">
        <div class="row ">
          <div id="left" class="col-xs-4 left text_color">
            <%= render 'resume_left' %>

            <div class="skill_form">

              <%= f.fields_for :skills do |builder| %>
                  <%= render 'skill_fields', f: builder %>
              <% end %>
              <%= link_to_add_fields "Add Field", f, :skills %>

            </div>

          </div>

          <div id="right" class="col-xs-8 right center-block" onresize="resize();">
                <%= render "resume_right" %>
                <div class="field">
                  <%= f.label :summary %><br>
                  <%= f.text_area :summary %>
                </div>

                <div class="row work_history">
                  <div class="col-xs-4 title">
                    <span>Work History</span>
                  </div>
                  <div class="col-xs-8 line">
                    <div></div>
                  </div>
                </div>

            <%= f.fields_for :work_histories do |builder| %>
                <%= render 'work_history_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add Field", f, :work_histories %>

            <div class="row education">
              <div class="col-xs-2 title">
                <span>Education</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
            </div>

            <%= f.fields_for :educations do |builder| %>
                <%= render 'education_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add Field", f, :educations %>

            <div class="row project">
              <div class="col-xs-2 title">
                <span>Project</span>
              </div>
              <div class="col-xs-10 line">
                <div></div>
              </div>
            </div>

            <%= f.fields_for :projects do |builder| %>
                <%= render 'project_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add Field", f, :projects %>
          </div>



        </div>

        <div class="actions" style="margin-top:10px;">
          <%= f.submit value: "제출하기", class: "btn btn-warning center-block" %>
        </div>

        <div class="actions">
          <%= link_to '뒤로가기', resumes_path, class: "btn btn-info center-block" %>
        </div>
      </div>

  <% end %>
</section>
