<!DOCTYPE html>
<html>
<head>
  <title>Introduction</title>
  <%= stylesheet_link_tag "application" , :"data-turbolinks-track" => false, media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'mains/nav' %>
<%= yield %>

</body>
<%= javascript_include_tag "application", :"data-turbolinks-track" => false %>
</html>
